#python==3.11.5
#sqlite3 >= 3.35.0
pysqlite3-binary==0.5.4
streamlit
chromadb
llama-index-embeddings-huggingface
langchain-core
langchain-openai
langchain-anthropic
langgraph
streamlit-navigation-bar
streamlit-extras
streamlit_option_menu 
streamlit_shadcn_ui